body{
  font-family: 'Courier New', Courier, monospace;
  margin:0;
  padding: 0;
  background-color:black;
  /* background: url("./Assets/Photos/backCards.png")no-repeat left center; */
}
nav{
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height:55px;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 40px;
  margin-left: 70px;
}
nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color:white;
  font-size: 16px;
  text-decoration: solid;
}

.contact-btn {
  background: url('./Assets/Icons/btn-pink-bg.svg') no-repeat left center;
  background-size: 75px 75px;
  padding: 10px 20px 10px 40px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}
main.left{
  max-width: 500px;
}

main .left p{
  color: white;
  /* border: 2px solid white; */
  text-decoration: solid;
  font-size: 65px;
  width: 900px;
  /* margin-bottom:  -2px; */
  margin-left: 42px;
}
main .left p span{
  text-decoration: solid;
  color: palevioletred;
  /* margin-top: 12px; */
  font-size: 58px;
  /* gap: 2px ; */
  margin-left: 42px;
}
.left p:nth-of-type(2) {

margin-top: -30px;
}

.left p:nth-of-type(3) {
  font-size: 18px;
  /* border: 2px solid white; */
  width: 650px; ;
  /* font-weight: bold; */
  margin-top: 30px;
}

.left p:nth-of-type(4){
  /* color: red; */
  /* font-weight: bold; */
  font-size: 18px;
  /* border: 2px solid white; */
  width: 350px;
  margin-top: 5px;

}
.left .get-btn {
  background: url('./Assets/Icons/btn-pink-bg.svg') no-repeat left center;
  background-size: 75px 75px;
  padding: 10px 20px 10px 40px;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 50px;
  margin-left:50px;
  cursor: pointer;
  /* gap:44px; */
  font-size: 22px;
}

main .right img {  
  margin-top: -450px;
  height: 550px;
  margin-left: 800px;
  z-index: 1;
  /* border: solid white 2px; */
   
}
/* .blur{
  height: 450px;
  width: 300px;
  margin-left: 450px;
  margin-top: -10px;
  position:absolute;
  border: solid white 2px;
  z-index: 1;
} */

 footer {
  background-color: #333; 
  color: white;
  padding: 40px;
  text-align: center;
  margin-top: 120px;
}


.logo-container {
  display: flex; 
  justify-content: center; 
  gap: 140px; 
  flex-wrap: wrap; 
}


footer img {
  width: 150px;
  height: 50px; 
}

.info-row {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* background: #111; */
  color: white;
  padding:20px;
}

.info-row div {
  text-align: center;
  
  margin: 0 20px;
}

.big {
  gap:50px;
  /* margin-left: 50px; */
  font-size: 24px;
  height: 70px;
  width: 200px;
  /* font-weight: bold; */
  color: whitesmoke;
  /* border: solid white 2px; */
}
.highlight {
  /* gap: 20px; */
  font-size: 30px;
  font-weight: bold;
  color: #e500f7;
}
.divider {
  height: 80px;
  margin: 0 15px;
}
.next .left p{
  margin-top: 70px;
  margin-left:50px;
  font-size: 55px;
  width: 550px;
  /* border: 2px solid ivory; */

  color: whitesmoke;
}
.next .left p span{
  /* margin-top: -10px; */
  margin-left:10px;
  font-size: 45px;
  /* border: 2px solid ivory; */
  
}
.next .left p:nth-of-type(2)
{
  margin-top: -30px;
  text-decoration: solid;
}
.next .left p:nth-of-type(3){
  margin-top: -30px;
  text-decoration: solid;
}

.next .right p{
  margin-left: 1000px;
  /* margin-bottom: -120px; */
  gap: -10px;
  width: 400px;
  color: whitesmoke;
  /* border: 2px solid white; */
  /* word-spacing: 2px; */
  font-size: 1vw;
}
.img1{
  margin-left: 50px;
  text-align: center;
  border: solid silver 1px;
  height:150px;
  width: 250px;
  padding: 60px 12px 60px 12px;
}
.img2{
  margin-left: 60px;
  border: solid white 2px;
  height:150px;
  width: 250px;
  margin-bottom: 50px;
  padding: 60px 12px 60px 12px;
}
.img3{
  margin-left: 60px;
  /* text-align: center; */
  border: solid silver 1px;
  height:150px;
  width: 250px;
  padding: 60px 12px 60px 12px;
}

.thrd .nxt p:nth-of-type(1){
  margin-bottom: 10px;
  /* margin-top: 20px; */
  font-size: 44px;
  text-decoration: bold solid;
  text-align: center;
  color: black;
}
.nxt p{
  font-size: 14px;
  text-decoration: bold solid;
  text-align: center;
  color: black;
}
.nxt .highlight {
  margin-top: 50px;
  font-size: 44px;
  text-decoration: bold solid;
  text-align: center;
  color: #e500f7;
}
.nxt .vcard{
  /* width:500px; */
  margin-left: 160px;
  align-items: center;
  /* justify-content: center; */
  background-color:rgb(251, 242, 244);
  height: 950px;
  margin-top: -10px;
}
.thrd {
  background-color: rgb(251, 242, 244)
}
.txt p:nth-of-type(1){
  margin-bottom: 10px;
  /* margin-top: 20px; */
  font-size: 44px;
  text-decoration: bold solid;
  text-align: center;
  color: whitesmoke;
}
.txt p{
  /* margin-left: 20px; */
  font-size: 44px;
  text-decoration: bold solid;
  text-align: center;
  color: whitesmoke;
}
.txt .highlight {
  margin-top: 50px;
  margin-right: 20px;
  font-size: 44px;
  text-decoration: bold solid;
  text-align: center;
  color: #e500f7;
}
.txt p:nth-of-type(3){
  margin-bottom: 10px;
  /* margin-top: 20px; */
  font-size: 16px;
  /* text-decoration: bold solid; */
  text-align: center;
  color: whitesmoke;
}
.txt p:nth-of-type(4){
  margin-bottom: 10px;
  /* margin-top: 20px; */
  font-size: 16px;
  /* text-decoration: bold solid; */
  text-align: center;
  color: whitesmoke;
}
.for .left .str1{
  height:50px;
  background-color: rgba(130, 125, 125, 0.554);
  margin-left: 100px;
  width:400px;
  padding:10px 0px 140px 0px;
  border-top: solid white 3px;
  border-right:solid white 1px;
  border-bottom:solid white 1px;
  border-left:solid white 3px;
}
.for .left .str2{
  margin: 40px 0 0 500px;
  width: 400px;
  border-top:solid silver 3px;
  border-left:solid silver 3px;
  border-right:solid silver 1px;
  border-bottom:solid silver 1px;
  background-color: rgb(11, 11, 92);
  height: 50px;
  padding:10px 0px 140px 0px;
  /* border: solid white 2px; */
}
.for .str3{
  width: 400px;
  margin:40px 0 0 100px;
  background-color: rgb(11, 11, 92);
  height: 50px;
  padding:10px 0px 140px 0px;
  border-top: solid white 3px;
  border-bottom:solid silver 1px;
  border-right:solid silver 1px;
  border-left:solid silver 3px;
}
.for .str4{
  height: 50px; 
  width:400px;
  margin-left: 500px;
  background-color: rgb(11, 11, 92);
  padding:10px 0px 140px 0px;
  border-top: solid white 3px;
  border-right:solid white 1px;
  border-bottom:solid white 1px;
  border-left:solid white 3px;
}
.lst .strt1{
  width: 100%;
  margin: 250px 0 -580px 50px;
  /* margin-left: 50px; */
  /* margin-top:250px;
  margin-bottom: -580px; */
}
.lst .strt2{
  width: 100%;
  /* margin-left: 50px; */
}
.end .lg{
  margin:200px 250px 200px 80px;
  /* margin-top: 200px; */
  height:55px;
  /* margin-right: 250px;
  margin-left: 80px;
  margin-bottom: 200px; */
 }
 .end{
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.end ul {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 10px;
  margin-right: 400px;
}
.end ul li {
  margin: 200px 0 200px 0;
  /* margin-top: 200px; 
  margin-bottom: 200px; */
}

.end ul li a { 
  margin-left: 10px;
  /* border: silver solid 2px; */
  color:white;
  font-size: 18px;
  text-decoration: none;
}
