body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fdfdfd;
}

.Logo {
  height: 40px;
  width: auto;
  /* border: 2px solid black; */
}

.sidebar {
  height: 400px;
  display: flex;
  align-items: center;
  /* padding-right: 50px; */
  justify-content: center;
  /* margin-left: 10px; */
  border: 2px solid black;
}

.Product-Image {
  height: 180px;
  width: 180px;
  
  margin-left:15px;
  border: 6px solid black;
}


.text-start p {
  font-size: 18px;
  margin-bottom: 48px;
}
/* .product-info p {
  font-size: 18px;
  margin: 10px 0;
} */

/* .Product-Image {
  height: 180px;
  width: 180px;
  border: 2px solid black;
} */



footer {
  margin-top: 20px;
  background-color: #f8f9fa;
}